.vscode
bin/libcsfml-graphics.a
bin/libcsfml-audio.a
bin/libcsfml-network.a
bin/libcsfml-system.a
bin/libcsfml-window.a
bin/compiling.txt
bin/ToR Linux/
bin/ToR Windows/
bin/ToR Windows.zip
bin/LD45
bin/ToR Linux.zip
